main {
    padding: 25px 0;
}

.weather-data {
    display: flex;
    justify-content: space-between;
}

.weather-city {
    margin: 0;
    font-size: 38px;
    line-height: 48px;
}

.weather-details {
    color: rgba(39, 33, 66, 0.5);
    font-size: 16px;
    line-height: 20px;
}

.weather-details strong {
    color: #6153a0;
}

.weather-temperature-data {
    display: flex;
}

.weather-icon {
    width: 88px;
    height: 88px;
}

.weather-temperature {
    font-size: 88px;
    font-weight: bold;
    line-height: 88px;
}

.weather-temperature-unit {
    font-size: 20px;
    margin-top: 6px;
}